/* Display layout (start) */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) var(--main-height) var(--footer-height);
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

main {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-areas:
        "search-bar"
        "current-display"
        "forecast-display";
    grid-template-rows: max-content 1fr max-content;
}
div#city-search {
    grid-area: search-bar;
}

div#current-display {
    grid-area: current-display;
}

div#forecast-display {
    grid-area: forecast-display;
    align-self: end;
}

div#current-display {
    display: grid;
    grid-template-areas: 
        "location-display"
        "date-display"
        "main-temp-display"
        "high-low-temp"
        "more-stats";
    grid-template-rows: repeat(2, max-content) 1fr repeat(2, max-content);
    grid-template-columns: 100%;
    row-gap: var(--common-margin);
}

div#location-display {
    grid-area: location-display;
}
div#date-display {
    grid-area: date-display;
}
div#main-temp-display {
    grid-area: main-temp-display;
}
div#condition-display {
    grid-area: condition-display;
}
div#high-low-temp {
    grid-area: high-low-temp;
}
div#more-stats {
    grid-area: more-stats;
}
/* Display layout (end)*/


/* small devices */
@media (hover:none) {
    
}

@media only screen and (min-width: 280px) {
    :root {
        --header-font-size: 1rem;
        --common-font-size: 0.8rem;
        --title-font-size: 1.1rem;
    } 
}

@media only screen and (min-width: 375px) {
    :root {
        --header-font-size: 1.2rem;
        --common-font-size: 0.9rem;
        --title-font-size: 1.2rem;
    }       
}

@media only screen and (min-width: 390px) {
    :root {
        --header-font-size: 1.3rem;
        --common-font-size: 1rem;
        --title-font-size: 1.3rem;
    }

    div#current-display {
        margin-top: calc(var(--common-margin) * 2);
        row-gap: calc(var(--common-margin) * 1.5);
    }      
}

@media only screen and (min-width: 414px) {
    :root {
        --header-font-size: 1.5rem;
        --common-font-size: 1.2rem;
        --title-font-size: 1.5rem;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (min-height: 1024px) {
    :root {
        --icon-size: 50px;
        --small-icon-size: 35px;
        --settings-btn-size: 35px;

        --header-font-size: 1.4rem;
        --common-font-size: 1.2rem;
        --title-font-size: 1.3rem;

        --common-padding: 10px;
        --common-margin: 15px;
    }

    div#hourly-forecast-cont {
        gap: 15px;
    }

    div.hourly-forecast {
        padding: 10px;
        gap: 10px;
    }

    div#error-message-cont {
        width: 60vw;
        min-width: 300px;
    }

    div#settings-tab.open {
        width: 250px;
    }
}

/* @media only screen and (min-width: 768px) and (min-height: 1024px) {
    :root {
        --header-font-size: 1.5rem;
        --common-font-size: 1.3rem;
        --title-font-size: 1.5rem;
    }
} */

/* Desktop */
@media only screen and (min-width: 1024px) {
    :root {
        --header-font-size: 1.2rem;
        --common-font-size: 1rem;
        --title-font-size: 1.2rem;

        --icon-size: 40px;
        --small-icon-size: 30px;
        --settings-btn-size: 30px;

        --common-padding: 10px;
        --common-margin: 15px;
    }

    main {
        grid-template-areas:
            "current-display search-bar"
            "current-display forecast-display" ;
        grid-template-columns: 40% 1fr;
    }

    div#condition-bg {
        width: 60%;
    }

    div#city-search {
        width: 450px;
    }

    div#current-display {
        margin-top: var(--common-margin);
        width: 100%;
        height: 90%;
    }

    p#main-condition {
        max-width: 150px;
    }

    div#more-stats {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: var(--common-margin);
    }

    div.stat {
        width: 150px;
    }

    div#forecast-display {
        width: 100%;
        gap: calc(var(--common-margin) * 2);
    }

    div#hourly-forecast-cont {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        justify-items: center;
        align-items: center;
        width: 500px;
    }

    div#hourly-display {
        width: 490px;
        grid-template-columns: repeat(3, 490px);
        overflow: hidden;
        gap: 0;
        padding-left:0;
        padding-right: 0;
    }

    div.hourly-forecast {
        width: 50px;
    }

    div#hourly-carousel {
        display: grid;
        grid-template-columns: repeat(5, 30px);
        width: max-content;
        gap: var(--common-margin);
        justify-items: center;
        align-items: center;
    }

    div#hourly-carousel button {
        width: 30px;
        height: 30px;
        background-color: var(--darker-color);
        border: none;
        transition: all 0.1s ease-in-out;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#hourly-carousel button:disabled {
        filter: brightness(0.8);
        cursor: default;
    }

    div#hourly-carousel button:disabled:hover{
        filter: brightness(0.8);
        transform: scale(1);
    }

    div#hourly-carousel button:hover {
        filter: brightness(1.3);
    }

    div#hourly-carousel button:active {
        filter: brightness(1.3);
        transform: scale(0.9);
    }

    div#hourly-carousel button svg {
        fill: var(--light-color);
        width: 100%;
        height: 100%;
    } 

    div.hourly-page-mark {
        width: 20px;
        height: 5px;
        border-radius: 5px;
        background-color: var(--base-color);
        transition: transform 0.2s ease-in-out;
    }

    div.hourly-page-mark.current {
        border: 1px solid var(--yellow-color);
        background-color: var(--yellow-color);
        transform: translateY(-3px);
    }

    div.hourly-page {
        transition: transform 0.3s ease-in-out;
    }

    div#daily-forecast-cont {
        width: 500px;
    }
}










