@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--common-font-family);
}

:root {
    --icon-size: calc(40px + 0.5vw);
    --small-icon-size: calc(25px + 0.5vw);

    --header-font-size: 1.3rem;
    --common-font-size: 1rem;
    --title-font-size: 1.3rem;

    --common-font-family: 'Montserrat', sans-serif;
    --header-font-family: 'Maven Pro', sans-serif;

    --common-padding: calc(5px + 0.5vw);
    --common-margin: calc(10px + 0.5vw);

    --header-height: 8vh;
    --main-height: 85vh;
    --footer-height: 7vh;

    --base-color: #64CCC5;
    --light-color: #DAFFFB;
    --darker-color: #176B87;
    --darkest-color: #04364A;

    --day-color: #E0F4FF;
    --night-color: #13005A;
    --yellow-color: #FFC436;
    --blue-color: #55A3DB;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) var(--main-height) var(--footer-height);
}

main {
    position: relative;
    z-index: 1;
}

main.day {
   height: 100%;
   background: linear-gradient(#87c0ec, #5197ca);
}

main.night {
    height: 100%;
    background: linear-gradient(#37406c, #262e5a);
 }

p {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

img#location-icon {
    height: 50px;
    width: 50px;
}

/* Header (start) */
header {
    /* height: var(--header-height); */
    display: grid;
    grid-template-columns: 1fr max-content;
    background-color: var(--light-color);
    padding: 0 var(--common-padding);
}

div#title-banner {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 5px;
}

h1#page-name {
    font-size: var(--title-font-size);
}

div#logo-cont {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--day-color);
    border-radius: 50%;
    border: 2px solid var(--yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#logo-cont.day {
    background-color: var(--day-color);
    border: 2px solid var(--yellow-color);
}

div#logo-cont.night {
    background-color: var(--night-color);
    border: 2px solid var(--blue-color);
}

img#website-icon {
    width: 90%;
    height: 90%;
    margin: auto;
}

div#options-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

button#settings {
    background-color: transparent;
    background-image: url("./assets/cog.svg");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;   
}

/* Header (end) */

/* Main (start) */
div#city-search {
    width: 450px;
    max-width: 90vw;
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-items: center;
    margin: var(--common-margin) auto;
    gap: 10px;
}

input#city-search-field {
    width: 100%;
    height: 30px;
    border: 2px solid var(--darker-color);
    border-radius: 10px;
    padding: 0 var(--common-padding);
}

button:hover {
    cursor: pointer;
}

button#city-search-button {
    background-image: url(./assets/search.svg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 2px solid var(--darker-color);
    background-color: var(--darker-color);
    border-radius: 50%;
}

button#city-search-button:hover {
    filter: brightness(1.1);
}


div#condition-bg {    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.3);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
}

main.day div#condition-bg.cloudy {
    background-image: url(./assets/cloudy.png);
}

main.night div#condition-bg.cloudy {
    background-image: url(./assets/dark-clouds.png);
}

main.day div#condition-bg.clear {
    background-image: url(./assets/sunny.png);
}

main.night div#condition-bg.clear {
    background-image: url(./assets/clear-night.png);
    filter: opacity(0.8);
}

main.day-rainy div#condition-bg.rainy {
    background-image: url(./assets/rainy.gif);
    background-image: url(./assets/dark-clouds.png);
    filter: opacity(0.3);
}

main.day-rainy {
    background: linear-gradient(#678fae, #366586);
}

div#location-display {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "city city"
        "country country";
    margin: auto;
    width: max-content;
    row-gap: 5px;
}

p#city {
    grid-area: city;
    font-size: calc(var(--header-font-size) * 1.3);
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 3px;
    justify-content: center;
}

p#city span#city-text {
    padding-right: calc((var(--header-font-size) * 1.1) + 3px);
}

p#city span#pin-icon {
    background-image: url(./assets/map-marker.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(var(--header-font-size) * 1.1);
    height: 70%;
    margin: auto;
}

p#country {
    grid-area: country;
    font-size: var(--common-font-size);
    justify-self: center;
}

div#date-display {
    display: flex;   
    justify-content: center;
}

div#date-display p {
    font-size: calc(var(--common-font-size) * 0.8);
}

div#main-temp-display {
   display: grid;
   grid-template-columns: max-content max-content;
   width: max-content;
   margin: calc(var(--common-margin) * 2) auto; 
   margin-bottom: 0;
   align-content: center;
   justify-content: center;
}

p#main-temp {
    font-size: calc(var(--header-font-size) * 4);
    font-family: var(--header-font-family);
    line-height: 1;
}

p#main-unit {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    font-size: calc(var(--header-font-size) * 2);
    color: #c2d8d7;
}

p#main-unit span.units {
    font-size: calc(var(--header-font-size) * 2.5);
    align-self: start;
}

span.units {
    align-self: center;
}

div#condition-display {
    margin: 0 0 calc(var(--common-margin) * 2);
}

p#main-condition {
    text-align: center;
    font-size: calc(var(--common-font-size) * 1.1);
}

div#high-low-temp {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: var(--common-margin);
}

div#more-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    row-gap: 5px;
    margin: var(--common-margin) auto calc(var(--common-margin) * 2);
    justify-content: center;
    /* column-gap: 15px; */
    width: 450px;
    max-width: 90vw;
}

div.stat {
    display: grid;
    font-size: calc(var(--common-font-size) * 0.8);
    grid-template-areas:
        "stat-icon stat-label"
        "stat-icon stat-value";
    width: max-content;
}

img.stat-icon {
    grid-area: stat-icon;
    margin-right: 5px;
    width: var(--small-icon-size);
    height: var(--small-icon-size);
}

p.stat-label {
    grid-area: stat-label;
}

div.stat div.stat-value {
    grid-area: stat-value;
    display: flex;
    justify-content: center;
}

p.stat-num {
    margin-right: 5px;
}

p.wind-dir {
    margin-left: 5px;
}

/* hourly forecast (start) */
div#hourly-forecast-cont {
    display: grid;
    grid-template-columns: repeat(25, max-content);
    gap: 10px;
    margin: var(--common-margin) auto;
    padding: var(--common-padding);
    padding-bottom: calc(var(--common-padding) * 2);
    width: 90vw;
    overflow-x: scroll;

}

div.hourly-forecast {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    width: 50px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(219, 255, 251, 0.3);
}

div#hourly-forecast-cont p {
    font-size: calc(var(--common-font-size) * 0.8);
    width: 100%;
}

/* hourly forecast (end) */

/* daily-forecast (start) */
div#daily-forecast-cont {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: var(--common-margin) auto;
    border-radius: 5px;
    background-color: rgb(219, 255, 251, 0.3);
}

div.daily-forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    width: 100%;
    align-items: center;
    padding: calc(var(--common-padding) * 0.5) var(--common-padding);
}

div.daily-forecast p {
    font-size: calc(var(--common-font-size) * 0.9);
}

img.hourly-weather-icon, img.daily-weather-icon {
    width: var(--small-icon-size);
    height: var(--small-icon-size);
}

img.daily-weather-icon{
    justify-self: center;
}

p.daily-high, p.daily-low {
    text-align: center;
}

/* daily-forecast (end) */

/* Main (end) */

/* Footer (start) */
footer {
    /* height: var(--footer-height); */
    background-color: var(--base-color);
}

div#footer-cont {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    flex: 1 0 100%;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: var(--common-padding);
}

div#footer-cont p, div#footer-cont a {
    font-size: calc(var(--common-font-size) * 0.8);
    color: var(--darkest-color);
    text-shadow: none;
}

a#github-link {
    display: flex;
    column-gap: 3px;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
}

a#github-link:visited {
    color: var(--darkest-color);
}

a#github-link:hover {
    filter: brightness(2);
    transform: scale(1.05);
    text-decoration: underline;
    text-underline-offset: 3px;
}

div#footer-cont a img {
    width: var(--common-font-size);
    height: var(--common-font-size);
}


/* Footer (end) */